/* Atualizar */
.link-atualizar > button {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--blue-color-600);
  position: relative;
}

.icon-reload {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 5px;
  left: 5px;
}