/* Css CardCurrency */
.content-currency {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  background-color: var(--black-color-800);
  color: var(--texts-inputs-400);
  margin: 20px 0;
  border-radius: 10px;
  height: 50px;
  width: 90vw;
  font-size: 1.1em;
}

.content-currency > p {
  font-size: 1.2em;
}

.preco-currency {
  text-align: right;
}