* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #252531;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: #b118a4;
}

*:focus {
  outline: none;
}

button:disabled {
  background-color: #6f952ad8;
}
