/* Header para voltar */
.headerback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px 20px;
  height: 30px;
  background-color: #13111df3;
}

.text-headerback {
  font-size: 2.4em;
  font-weight: 500;
}

.icon-headerback {
  width: 25px;
  height: 25px;
  color: var(--blue-color-600);
}
