/* Currencys */
.currencys {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-currency {
  color: var(--blue-color-600);
  margin-top: 25px;
}

.input-block > input[type="text"] {
  width: 160px;
  height: 30px;
  border-radius: 15px;
  border: none;
  text-align: center;
  font-size: 1.6em;
  font-family: Cabin;
  font-weight: 600;
  background-color: var(--texts-inputs-200);
}

.input-block p {
  color: white;
  margin-left: 5px;
  margin-top: 2px;
}

.search-block {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  width: 321px;
}

.code-selector {
  width: 130px;
}

.content-atualizar {
  display: flex;
  justify-content: space-between;
  width: 220px;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.content-atualizar > a {
  position: absolute;
  top: 23px;
  right: 0;
}