/* Currencys */
.currencys {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-currency {
  color: var(--blue-color-600);
  margin-top: 25px;
}

.input-block input[type="text"] {
  border: none;
  border-radius: 15px;
  height: 1.5rem;
  padding: 0 12px;
  width: 200px;
}

.input-block p {
  color: white;
  margin-left: 5px;
  margin-top: 2px;
}

.search-block {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  width: 80vw;
}

.code-selector {
  width: 100px;
}